.container{
    width: 90%;
    margin: 0 auto;
}
.button {
    display: inline-block;
    color:white;
    text-decoration: none;
    font-size: 18px;
    background-color: #48A3A6 ;
    padding: 20px 30px;
    border-radius: 8px;
}